@{
    ViewData["Title"] = "About";
}
<!-- googleMap-area-start -->
<div class="map-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="googleMap" style="position: relative; overflow: hidden;">
                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1074.661550073851!2d121.53685531788317!3d25.04370419916996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3d62efc2ac0a4f0c!2z5Y-w5rm-5Zu956uL5Y-w5YyX56eR5oqA5aSn5a2m5a2m55Sf5a6_6IiN!5e0!3m2!1szh-CN!2stw!4v1573747018266!5m2!1szh-CN!2stw" width="1140" height="410" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- googleMap-end -->
<!-- contact-area-start -->
<div class="contact-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-info">
                    <h3>联系信息</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>地址：</span>
                            10655臺北市大安區建國南路一段81號
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>电话：</span>
                            0X-XXXXXXXX
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i>
                            <span>邮件： </span>
                            <a href="mailto:contact@aquas.club">contact@aquas.club</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <h3><i class="fa fa-envelope-o"></i>留言</h3>
                    <form id="contact-form" action="http://www.biubiubiubiu.com.cn/bookshop/pages/client/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-form-3">
                                    <input name="name" type="text" placeholder="姓名">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-form-3">
                                    <input name="email" type="email" placeholder="邮箱">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-form-3">
                                    <input name="subject" type="text" placeholder="主题">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-form-3">
                                    <textarea name="message" placeholder="信息"></textarea>
                                    <button class="submit" type="submit">发送</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</div>