
@{
    ViewData["Title"] = "Login";
}

<!--Google OAuth-->
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<meta name="google-signin-client_id" content="503080678367-hc55im7qgftp6mrd9qbafdde29qq9fk2.apps.googleusercontent.com">
<!-- user-login-area-start -->
<div class="user-login-area mb-70 main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-title text-center mb-30">
                    <h2>登录</h2>
                </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                <div class="login-form" align="center">
                    <div id="my-signin2" class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user-login-area-end -->
@*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@

<script>
    function renderButton() {
        gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

    function onSuccess(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        $.post("/User/VerifyToken", {
            token: id_token
        }, function (data) {
                data = JSON.parse(data);
                alert(data.message);
                if (data.status) {
                    //登录成功则跳转
                    window.location.href = "/";
                }
        })
    }

    function onFailure() {
        alert("授权失败！");
    }
    //function onSignIn(googleUser) {
    //    var id_token = googleUser.getAuthResponse().id_token;
    //}

    //function onSignIn(googleUser) {
    //    alert("click!");
    //    var id_token = googleUser.getAuthResponse().id_token;
    //    $.post("/User/VerifyToken", {
    //        token: id_token
    //    }, function (data) {
    //        data = JSON.parse(data);
    //        //console.log(data.message);
    //        alert(data.status);
    //    })
    //}
</script>